:root {
    --background-color: #111111;
    --background-color-secondary: rgba(255, 255, 255, 0.05);
    --text-color: #ecf0f1;
    --primary-color: #888888;
    --shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

/* general */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    z-index: -999;
    overflow-x: hidden;
}

.container {
    width: 900px;
    margin: auto;
}

.bg-secondary {
    background-color: var(--background-color-secondary);
}

a {
    color: var(--text-color);
}

.btn {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: var(--primary-color);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: ease 0.2s;
}

.btn:hover {
    background: var(--text-color);
    color: var(--primary-color);
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

/* scrollbar */

*::-webkit-scrollbar {
    width: auto;
}

*::-webkit-scrollbar-track {
    box-shadow: inset var(--shadow);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
}

.full-screen {
    min-height: 100vh;
}

/* section */

section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: relative;
}

section h1 {
    border-bottom: 5px solid var(--primary-color);
    display: inline-block;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav h1 {
    margin: 0;
    font-size: 3rem;
    border: none;
    color: var(--primary-color);
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem;
    padding-bottom: 5px;
    position: relative;
}

.nav-link::after {
    content: "";
    height: 5px;
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    transition: ease 0.5s;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* main landing */

main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    position: relative;
    font-size: 1.5rem;
}

.tagline p {
    font-size: 2em;
}

.face-area {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50%;
    position: relative;
    margin-bottom: 2rem;
}

.face-area::after {
    content: "";
    background: var(--text-color);
    height: 10vh;
    width: 15vw;
    position: absolute;
    left: -12%;
    bottom: 10%;
    box-shadow: var(--shadow);
}

.media-links {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: flex;
}

.media-links a {
    display: grid;
    place-content: center;
    padding: 0.75em;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    transition: ease 0.2s;
}

.media-links a:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.brow {
    transition: ease 0.2s;
}

/* about */

#about {
    display: flex;
    flex-direction: column;
}

.blurb {
    display: flex;
    align-items: flex-start;
}

#headshot {
    position: relative;
    margin-top: 2rem;
}

#headshot img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 3;
}

.blurb p {
    margin: 2rem;
    line-height: 1.5em;
    text-align: justify;
}

.ul-container {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.ul-container div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ul-container h3 {
    border-bottom: 5px solid var(--primary-color);
}

.ul-container ul {
    margin: 0;
}

/* contact */

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

form small {
    margin: 1rem 0 0.5rem 0;
}

form input {
    background: none;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-size: 1rem;
    background: var(--background-color);
    padding: 0.5em 1em;
    transition: ease 0.2s;
}

form input:focus, textarea:focus {
    border-left: 5px solid var(--primary-color);
}

form textarea {
    background: var(--background-color);
    outline: none;
    border: none;
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1em;
    transition: ease 0.2s;
    resize: vertical;
}

@media only screen and (max-width: 1000px) {
    /* nav area */
    nav h1 {
        font-size: 1.5rem;
    }
    .nav-link {
        font-size: 1rem;
        margin: 0;
    }
    /* landing area */
    main {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .tagline {
        font-size: 1rem;
        text-align: center;
    }
    .face-area {
        height: 200px;
        width: 100%;
    }
    .face-svg {
        width: 100px;
    }
    .background-text {
        font-size: 60vh;
    }
    .face-area::after {
        height: 50px;
        left: 12%;
        bottom: -10%;
        width: 25%;
    }
    .media-links {
        flex-direction: column;
    }
    .media-links a {
        font-size: 1rem;
    }
    section {
        min-height: auto;
        padding: 1rem;
    }
    /* about section */
    #about div {
        flex-direction: column;
    }
    #about div p {
        margin: 0;
        margin-top: 2rem;
    }
    .blurb {
        align-items: center;
    }
    .container {
        max-width: 100%;
    }
    form {
        width: 100%;
    }
    .ul-container {
        font-size: 0.8rem;
        flex-direction: row;
    }
    .full-screen {
        min-height: auto;
    }
    article h2 {
        text-align: center;
    }
}

/* phone screens */

@media only screen and (max-width: 800px) {
    body::-webkit-scrollbar {
        display: none;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        margin: 1rem 0;
        display: flex;
    }
    .nav-link {
        font-size: 0.8rem;
        padding: 0.6em;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
    }
    form textarea {
        max-width: 100%;
    }
    article {
        display: grid;
        grid-template-columns: 1fr;
    }
    .article-image {
        width: 100%;
        height: 250px;
        background: var(--primary-color);
    }
}

/* light mode color scheme media queries */

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #111111;
        --background-color: #ecf0f1;
        --background-color-secondary: #dbdedf;
    }
    .background-text {
        color: rgba(0, 0, 0, 0.05);
    }
}